button {
  transition: all 500ms ease;
  background: transparent;
  color: white;
  font-size: 1vw;
  text-align: center;
  border: none;
  padding-left: 30px;
}

button:hover {
  opacity: 0.7;
}
button:active {
  opacity: 0.3;
}