body {
    font-family: Montserrat;
    background: rgb(32, 32, 38);
    overflow-y: hidden;
    overflow-x: hidden;
}

.bg {
    position: absolute;
    z-index: -1;
    left: -12px;
    top: -12px;
    right: -12px;
    bottom: -12px;
    transform: scale(1.05, 1.05);
    width: 100%;
    height: 100%;
    filter: blur(4px) brightness(25%);
    background-size: cover;
}

.title {
    color: white;
    text-align: center;
    flex: auto;
    margin-top: 10%;
}

.title .img {
    transition: all 2s ease;
    border-radius: 50%;
    max-width: 200px;
    max-height: 200px;
}

.title .img:hover {
    filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
}

.title h1 {
    color: white;
}

.title h2 {
    margin-top: -15px;
}


.info {
    color: white;
    text-align: center;
    margin-top: -20px;
}

.info p {
    color: white;
    padding: 35px;
    font-size: 40px;
    transition: all 500ms ease;
}

@media only screen and (max-width: 1200px) {
    .bg {
        width: auto;
        height: auto;
        transform: scale(1.5, 1.5);
    }
    body {
        overflow-y: visible;
    }
}
@media only screen and (max-width: 630px) {
    .info p {
        font-size: 30px
    }
}